body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#logincard {
    /* background-color: rgb(29, 29, 29); */
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: -12px;
    margin-left: 89px;
}

#insta-pic {
    width: 522px;
    margin-left: 204px;
    margin-top: 44px;
    /* background-color: gray; */
    display: inline-block;
}

/* #img-card{
    background-color: aqua;
    display: inline-block;
} */

input {
    width: 256px;
    height: 20px;
    padding: 6px;
    padding-top: 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 0px;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(83, 83, 83);
    color: white;
    transition: all 0.3s ease;
}

input:focus::placeholder {
    font-size: 10px;
    transform: translateY(-10px);
    opacity: 0.7;
}

input::placeholder {
    color: #999;
    top: 1px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#logbtn {
    width: 269px;
    padding: 9px 0px;
    border-radius: 9px;
    margin-top: -2px;
    background-color: rgb(67, 81, 207);
    color: rgb(187, 187, 187);
    font-weight: 700;
    border: none;
}

#or {
    margin-top: 27px;
    color: rgb(123, 123, 123);
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
}

#parent {
    display: flex;
    /* background-color: #070707; */
}



#insta-logo {
    margin-top: 30px;
    width: 245px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#inp {
    margin-top: 25px;
}

#pass {
    margin-top: 5px;
    margin-bottom: 0px;
}



#fblink {
    color: rgb(22, 150, 255);
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}

#fbimg {
    width: 20px;
    margin: 0px;
    padding: 0px;
    padding-right: 1px;
    vertical-align: middle;

}

#logpadd {
    display: inline-block;
    /* background-color: aquamarine; */
    padding: 0px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
}

#fblogimg {
    display: inline-block;
}


#myPara {
    margin-top: 11px;
    font-size: 13px;
    font-weight: bolder;
}

#myPara:hover {
    text-decoration: underline;
    font-weight: lighter;
}

.dhaa {
    margin-top: 43px;
    font-size: 14px;
    font-weight: lighter;
}

#inlinep1 {
    display: inline-block;
}

#inlinep2 {
    display: inline-block;
    color: rgb(67, 81, 207);
    font-weight: bold;
}

#lower-div {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(152, 152, 152);
    text-decoration: none;
}

.para-link {
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    margin: 0px 6px;
    margin-top: 54px;
}

a :hover {
    text-decoration: underline;
}


#meta-link{
    margin-left: -10px;
}

#last-div{
    text-align: center;
    margin-top: 18px;
    margin-bottom: 61px;
    margin-right: 17px
}

#opt{
    border: none;
    background-color: black;
    color: rgb(152, 152, 152);
    font-size: 12px;
}

#last-line{
    margin-left: 9px;
    color: rgb(152, 152, 152);
    font-size: 12px;
}